img.pass-form-logo {
    line-height: 46px;
    margin: 25px;
    width: 200px;
}

img.logo_qr {
    width: 150px;
    margin-left: 51px;
}

#componseLeft {
    float: left;
    border-right: 1px solid #eee;
    height: 325px;
}

#componseLeft .left_text {
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
}

#componseRight {
    float: right;
    width: 548px;
}

.layui-layer-setwin .layui-layer-close2 {
    right: -12px !important;
    top: -13px !important;
}

#componseRight .login-type-tab {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 33px;
}
#componseRight .switch-item {
    cursor: pointer;
}
#componseRight .switch-item.active {
    color: #222;
    font-weight: 600;
}
#componseRight .pass-clearbtn {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 16px;
    width: 16px;
    z-index: 100;
    display: none;
    cursor: pointer;
}
#componseRight .pass-clearbtn:hover{
   font-weight: 600;
}
.login-type-tab .switch-item.active:last-child {
    margin-left: 53px;
    position: relative;
    left: -31px;
}
.code_title{
    position: relative;
    left: 112px;
    top: -20px;
    color: #858585;
    font-weight: 400;
}
.pass-item-timer:hover{
    color: #4662d9;
}
.pass-item-timer{
    text-align: center;
        display: block;
    position: absolute;
    right: 14px;
    top: 16px;
    width: 100px;
    font-size: 14px;
    line-height: 12px;
    transition: .3s;
    color: #4e6ef2;
    border: 0;
    border-left: 1px solid #dedede;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;
}
.tang-pass-sms-agreement{
    text-align: center;
}
.tang-pass-sms-agreement a{
    color: #4e6ef2;
}
.tang-pass-sms-agreement a:hover{
    color: #4662d9;
}
.login-type-tab .switch-item:last-child {
    position: relative;
    left: 21px;
}
.pass-fgtpwd{
    text-decoration: none;
    color: #4e6ef2;
    float: right;
}
.pass-register{
    text-decoration: none;
    color: #4e6ef2;
    float: left;
    margin-left: 5px;
}
.login-type-tab .switch-item.active::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 63px;
    position: absolute;
    top: 56px;
    background: #4e6ef2;
    border-radius: 1px;
    left: 306px;
}
.login-type-tab .switch-item.active2::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 63px;
    position: absolute;
    top: 24px;
    background: #4e6ef2;
    border-radius: 1px;
    left: 4px;
}
.layui-layer {
    border-radius: 14px !important;
}
.go_login{
    width: 422px;
    height: 45px;
    border-radius: 16px;
    background: #4e6ef2;
    box-shadow: 0 6px 16px 0 rgba(78, 111, 242, 0.3);
    font-size: 17px;
    font-weight: 800;
}
.go_login:hover{
    background: #4490f7;
}

.go_login:hover{
    background-color: #4662d9;
}
#componseRight .layui-form{
    position: relative;
    top: 46px;
    left: -62px;
}
#componseRight .layui-input{
    border-radius: 10px;
    height: 42px;
}
#componseRight .layui-input:focus, .layui-textarea:focus{
    border-color: #488ee7 !important;
    box-shadow: 0  0  3px rgba(78, 110, 242, .2)!important;
}