<!-- 首页 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/media/layui-v2.7.6/layui/css/layui.css">
    <!-- 样式 -->
    <link rel="stylesheet" href="../../css/style.css"/>
    <!-- 主题（主要颜色设置） -->
    <link rel="stylesheet" href="../../css/theme.css"/>
    <!-- 通用的css -->
    <link rel="stylesheet" href="../../css/common.css"/>
</head>
<style>
    body {
        padding-bottom: 50px
    }

    html::after {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    #swiper {
        overflow: hidden;
    }

    #swiper .layui-carousel-ind li {
        width: 16px;
        height: 10px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, .3);
        border-radius: 3px;
        background-color: #f7f7f7;
        box-shadow: 0 0 6px rgba(255, 0, 0, .8);
    }

    #swiper .layui-carousel-ind li.layui-this {
        width: 24px;
        height: 10px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, .3);
        border-radius: 6px;
        background-color: #009688;
        box-shadow: 0 0 6px rgba(255, 0, 0, .8);

    }

    input#buynumber::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input#buynumber[type="number"] {
        -moz-appearance: textfield;
    }

    .message-container {
        width: 100%
    }

    .detail-tab .layui-tab-card > .layui-tab-title .layui-this {
        color: white;
        background-color: #009688;
        font-size: 15px;
    }

    .data-detail {
        padding-bottom: 20px !important;
    }

    .data-detail .layui-breadcrumb a.first {
        color: rgba(214, 236, 240, 1) !important;
    }

    .next_q {
        display: flex;
        padding-bottom: 6px;
        width: 905px;
        margin: 0 auto;

    }

    .buttons {
        flex: 1 0 0%;
        text-align: center;
    }

    .but1 {
        float: right;
        margin-right: 49px !important;
        text-align: center;
    }

    .btn2 {
        float: left;
    }
</style>
<body>

<div id="app">

    <div class="data-detail" style="padding:0">
        <div class="data-detail-breadcrumb"
             :style='{"padding":"0 10px","margin":"20px auto","borderColor":"rgba(255,0,0,.3)","backgroundColor":"rgb(46 126 115)","borderRadius":"4px","borderWidth":"0","borderStyle":"solid","height":"80px"}'>
				<span class="">
					<a class="first"
                       :style='{"padding":"8px 10px","boxShadow":"0 0 0px ","margin":"0 15px","borderColor":"rgba(255,0,0,.3)","backgroundColor":"rgb(46, 126, 115)","color":"rgba(214, 236, 240, 1)","borderRadius":"0","borderWidth":"0","fontSize":"20px","borderStyle":"solid"}'
                       href="javascript:navPage('./pages/zhaopinxinxi/list.html')">首页</a>
					<a><cite
                            :style='{"padding":"8px 15px","boxShadow":"0 0 0px rgba(46, 78, 126, 1)","margin":"0 15px","borderColor":"rgba(255,0,0,.3)","backgroundColor":"rgb(46, 126, 115)","color":"rgba(255, 251, 240, 1)","borderRadius":"4px","borderWidth":"0","fontSize":"20px","borderStyle":"solid"}'>练习平台</cite></a>
				</span>


        </div>
    </div>

    <div class="data-detail" style="padding:0;width:100%;"
         :style='{"padding":"0","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(0,0,0,.3)","borderRadius":"0","borderWidth":"0","background":"white","borderStyle":"solid"}'>
        <div class="next_q">
            <div class="buttons">
                <button v-if="paper_id !== 0"
                        :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.3)","margin":"0 5px","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#009688","borderRadius":"6px","borderWidth":"0","width":"auto","lineHeight":"40px","fontSize":"16px","borderStyle":"solid"}'
                        @click="next_q(1)" type="button" class="layui-btn btn2">
                    上一题
                </button>
                <span v-if="paper_id !== 0" style="    padding-top: 10px;
    display: inline-block;">({{ index + 1 }}/{{ questions.length }})</span>
                <button v-if="paper_id !== 0"
                        :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.3)","margin":"0 5px","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#009688","borderRadius":"6px","borderWidth":"0","width":"auto","lineHeight":"40px","fontSize":"16px","borderStyle":"solid"}'
                        @click="next_q(2)" type="button" class="layui-btn but1">
                    下一题
                </button>
            </div>

            <div class="buttons">

            </div>


        </div>
        <div class="layui-row" style="display: flex;width:980px;margin: 0 auto;">

            <div class="layui-col-md7" style="padding-left: 20px;flex: 1;"
                 :style='{"padding":"0","margin":"0px 40px","borderColor":"rgba(46, 78, 126, 1)","borderRadius":"4px 4px 4px 4px","borderWidth":"1px","borderStyle":"solid"}'>
                <h1 style="position: relative;"
                    :style='{"padding":"20px 30px","boxShadow":"0 0 0px #009688","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","color":"rgba(179, 92, 68, 1)","borderRadius":"0","textAlign":"center","borderWidth":"0","fontSize":"20px","borderStyle":"solid"}'
                    class="title">
                    {{ detail.title }}</h1>
                <div :style='{"padding":"6px 15px","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","borderRadius":"0","borderWidth":"0 0 1px 0","borderStyle":"solid"}'
                     class="detail-item">
                    <span :style='{"padding":"0 12px 0 0","minWidth":"82px","fontSize":"15px","color":"rgba(80, 97, 109, 1)","textAlign":"left"}'>题目ID：</span>
                    <span style="word-break: break-all"
                          :style='{"padding":"5px 15px","boxShadow":"0 0 0px rgba(255,0,0,.3)","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#fff","color":"#333","borderRadius":"6px","textAlign":"left","borderWidth":"0","width":"auto","lineHeight":"20px","fontSize":"15px","borderStyle":"solid"}'
                          class="desc">
							{{ detail.id }}
						</span>
                </div>
                <div :style='{"padding":"6px 15px","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","borderRadius":"0","borderWidth":"0 0 1px 0","borderStyle":"solid"}'
                     class="detail-item">
                    <span :style='{"padding":"0 12px 0 0","minWidth":"82px","fontSize":"15px","color":"rgba(80, 97, 109, 1)","textAlign":"left"}'>题目内容：</span>
                    <span style="word-break: break-all"
                          :style='{"padding":"5px 15px","boxShadow":"0 0 0px rgba(255,0,0,.3)","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#fff","color":"#333","borderRadius":"6px","textAlign":"left","borderWidth":"0","width":"auto","lineHeight":"20px","fontSize":"15px","borderStyle":"solid"}'
                          class="desc">
							{{ detail.desc }}
						</span>
                </div>
                <div :style='{"padding":"6px 15px","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","borderRadius":"0","borderWidth":"0 0 1px 0","borderStyle":"solid"}'
                     class="detail-item">
                    <span :style='{"padding":"0 12px 0 0","minWidth":"82px","fontSize":"15px","color":"rgba(80, 97, 109, 1)","textAlign":"left"}'>考点：</span>
                    <span style="word-break: break-all"
                          :style='{"padding":"5px 15px","boxShadow":"0 0 0px rgba(255,0,0,.3)","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#fff","color":"#333","borderRadius":"6px","textAlign":"left","borderWidth":"0","width":"auto","lineHeight":"20px","fontSize":"15px","borderStyle":"solid"}'
                          class="desc">
							{{ detail.do_points }}
						</span>
                </div>
                <div :style='{"padding":"6px 15px","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","borderRadius":"0","borderWidth":"0 0 1px 0","borderStyle":"solid"}'
                     class="detail-item">
                    <span :style='{"padding":"0 12px 0 0","minWidth":"82px","fontSize":"15px","color":"rgba(80, 97, 109, 1)","textAlign":"left"}'>考试时长：</span>
                    <span style="word-break: break-all"
                          :style='{"padding":"5px 15px","boxShadow":"0 0 0px rgba(255,0,0,.3)","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#fff","color":"#333","borderRadius":"6px","textAlign":"left","borderWidth":"0","width":"auto","lineHeight":"20px","fontSize":"15px","borderStyle":"solid"}'
                          class="desc">
							{{ detail.do_time }}(分)
						</span>
                </div>
                <div :style='{"padding":"6px 15px","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","borderRadius":"0","borderWidth":"0 0 1px 0","borderStyle":"solid"}'
                     class="detail-item">
                    <span :style='{"padding":"0 12px 0 0","minWidth":"82px","fontSize":"15px","color":"rgba(80, 97, 109, 1)","textAlign":"left"}'>级别：</span>
                    <span style="word-break: break-all"
                          :style='{"padding":"5px 15px","boxShadow":"0 0 0px rgba(255,0,0,.3)","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#fff","color":"#333","borderRadius":"6px","textAlign":"left","borderWidth":"0","width":"auto","lineHeight":"20px","fontSize":"15px","borderStyle":"solid"}'
                          class="desc">
							{{ detail.level_name }}
						</span>
                </div>
                <div :style='{"padding":"6px 15px","boxShadow":"0 0 6px rgba(255,0,0,0)","margin":"0","borderColor":"rgba(6, 82, 121, 1)","backgroundColor":"#fff","borderRadius":"0","borderWidth":"0 0 1px 0","borderStyle":"solid"}'
                     class="detail-item">
                    <span :style='{"padding":"0 12px 0 0","minWidth":"82px","fontSize":"15px","color":"rgba(80, 97, 109, 1)","textAlign":"left"}'>规模：</span>
                    <span style="word-break: break-all"
                          :style='{"padding":"5px 15px","boxShadow":"0 0 0px rgba(255,0,0,.3)","borderColor":"rgba(0,0,0,.3)","backgroundColor":"#fff","color":"#333","borderRadius":"6px","textAlign":"left","borderWidth":"0","width":"auto","lineHeight":"20px","fontSize":"15px","borderStyle":"solid"}'
                          class="desc">
							{{ detail.size_name }}
						</span>
                </div>

                <div class=""
                     style="    position: absolute;bottom: 12%;left: 31%;font-size: 28px;color: rgb(179, 92, 68);">
                    {{ SecondToDate }}
                </div>
            </div>
            <div class="layui-col-md5" style="width:500px">

                <div class="layui-carousel" id="swiper" @click="countDown(detail.urls[0].value)"
                     :style='{"margin":"0 auto","borderColor":"rgba(0,0,0,.3)","borderRadius":"6px","borderWidth":"0","width":"500px","borderStyle":"solid","height":"468px"}'>
                    <div>
                        <img style="cursor:pointer;width: 500px;height: 468px;object-fit: cover;"
                             src="/media/img/gagnwei.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/media/js/jquery-1.11.3.min.js"></script>

<script src="../../layui/layui.js"></script>
<script src="../../js/vue.js"></script>
<!-- 组件配置信息 -->
<script src="../../js/config.js"></script>
<!-- 扩展插件配置信息 -->
<script src="../../modules/config.js"></script>
<!-- 工具方法 -->
<script src="../../js/utils.js"></script>
<script src="/media/js/common.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            questions: [],
            index: 0,
            type: 0,
            // 轮播图
            swiperList: [],
            // 数据详情
            paper_id: 0,
            detail: {
                id: 0
            },
            // 商品标题
            title: '',
            // 倒计时
            count: 0,
            // 加入购物车数量
            buynumber: 1,
            // 当前详情页表
            detailTable: 'zhaopinxinxi',
            baseurl: '',
            // 评论列表
            dataList: [],
            storeupFlag: 0,
            // 选座座位列表
            numberList: []
        },
        // 倒计时效果
        computed: {
            SecondToDate: function () {
                var time = this.count;
                if (null != time && "" != time) {
                    if (time > 60 && time < 60 * 60) {
                        time =
                            parseInt(time / 60.0) +
                            "分钟" +
                            parseInt((parseFloat(time / 60.0) - parseInt(time / 60.0)) * 60) +
                            "秒";
                    } else if (time >= 60 * 60 && time < 60 * 60 * 24) {
                        time =
                            parseInt(time / 3600.0) +
                            "小时" +
                            parseInt(
                                (parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60
                            ) +
                            "分钟" +
                            parseInt(
                                (parseFloat(
                                    (parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60
                                    ) -
                                    parseInt(
                                        (parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60
                                    )) *
                                60
                            ) +
                            "秒";
                    } else if (time >= 60 * 60 * 24) {
                        time =
                            parseInt(time / 3600.0 / 24) +
                            "天" +
                            parseInt(
                                (parseFloat(time / 3600.0 / 24) - parseInt(time / 3600.0 / 24)) *
                                24
                            ) +
                            "小时" +
                            parseInt(
                                (parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60
                            ) +
                            "分钟" +
                            parseInt(
                                (parseFloat(
                                    (parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60
                                    ) -
                                    parseInt(
                                        (parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60
                                    )) *
                                60
                            ) +
                            "秒";
                    } else {
                        time = parseInt(time) + "秒";
                    }
                }
                return time;
            }
        },
        //  清除定时器
        destroyed: function () {
            window.clearInterval(this.inter);
        },
        methods: {
            jump(url) {
                jump(url)
            },
            isAuth(tablename, button) {
                return isFrontAuth(tablename, button)
            },
            // 倒计时初始化
            countDown(url) {
                if (!localStorage.getItem('adminName')) {
                    layer.msg("请登录后重试", {icon: 1, time: 1500})
                    return false
                } else {
                    layer.msg("倒计时已开始，请在容器中做题", {icon: 1, time: 1500})

                }
            },

            // 下载文件
            downFile(url) {
                var download = $("#download");
                download.append(
                    "<a id=\"down\" href=\"aaaa.txt\" target=\"_blank\" download=\"aaaa.txt\" style=\"display:none\">下载该文件</a>");
                console.log(download);
                $("#down")[0].click();
            },
            // 跨表
            next_q(type_) {
                if (type_ === 1) {
                    // 上一题
                    if (vue.index === 0) {
                        msg_fail("已经是第一题")
                    } else {
                        vue.index -= 1
                        vue.detail = vue.questions[vue.index]
                        vue.title = vue.questions[vue.index].title;

                    }
                } else {
                    // 下一题
                    if (vue.index + 1 === vue.questions.length) {
                        msg_fail("已经最后最后一题")
                    } else {
                        vue.index += 1
                        vue.detail = vue.questions[vue.index]
                        vue.title = vue.questions[vue.index].title;

                    }

                }
            },
        }
    })

    layui.use(['layer', 'form', 'element', 'carousel', 'http', 'jquery', 'laypage'], function () {
        var http = layui.http;
        // 数据ID
        var id = http.getParam('id');
        vue.detail.id = id;
        vue.type = http.getParam('type');
        vue.baseurl = http.baseurl;

        if (vue.type === '2') {
            // 五个题目练习
            vue.paper_id = id
            $.get('/tea/get_paper_question/?type=2&paper_id=' + id, function (res) {
                // 详情信息
                console.log(res)
                vue.questions = res.data
                vue.detail = res.data[vue.index]
                vue.title = res.data[vue.index].title;
            })
        } else {
            $.get('/tea/question_list/?id=' + id, function (res) {
                // 详情信息
                vue.detail = res.data.page_data[0]
                vue.title = vue.detail.title;
            })
        }
        if (localStorage.getItem('userid')) {
            http.request(`storeup/list`, 'get', {
                page: 1,
                limit: 1,
                type: 1,
                refid: vue.detail.id,
                tablename: vue.detailTable,
                userid: localStorage.getItem('userid'),
            }, function (res) {
                vue.storeupFlag = res.data.list.length;
            })
        }

    });
</script>
</body>
</html>
