<!-- 首页 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="referrer" content="no-referrer"/>
    <meta name="description" content="云数智学堂 一家在线基于云计算技术提升云计算、大数据、人工智能等新一代信息技术专业技能提升的学习类门户网站，如云计算openstacke k8s，大数据hadoop，spark，flink，人工智能，chatgpt等。网站由信创云数智(天津)科技有限公司创办，该网站提供的详细功能有:各类IT组件的实操环境和题库、在线云上模拟视频面试、线上修改简历功能、IT培训、技术讨论以及chatGpt等功能，全方位帮助求职者，行业猎头以及招聘公司提高效率，提升技能，人岗匹配，提高黏性。.">
    <meta name="keywords" content="云数智学堂，云数学堂，智学堂">
    <meta name="baidu-site-verification" content="codeva-mKaZInDlQz" />
    <title>云数智学堂</title>
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <link rel="stylesheet" href="/media/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="/media/css/common.css?v=1"/>
    <link rel="stylesheet" href="/media/css/style.css"/>
    <link rel="stylesheet" href="/media/css/index.css?v=3"/>
    <link rel="stylesheet" href="/media/slidercaptcha/disk/slidercaptcha.css">
    <link rel="stylesheet" href="/media/slidercaptcha/lib/font-awesome/css/font-awesome.min.css">

</head>
<style type="text/css">
    .container {
        display: none;
    }

    .slidercaptcha {
        margin: 0 auto;
        width: 314px;
        height: 286px;
    }

    .slidercaptcha .card-body {
        padding: 1rem;
    }

    .slidercaptcha canvas:first-child {
        border-radius: 4px;
        border: 1px solid #e6e8eb;
    }



    html, body {
        height: 100%;
    }



    ::v-deep input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    #iframe {
        width: 100%;
        margin-top: 00px;
        padding-top: 5px;
    }




    #header .navs {
        background: #009688;
    }


    #header .navs1 .list {
        display: flex;
        flex-direction: column;
    }


    .list > ul {
        margin-right: 100px;
    }

    .list .right {
        float: right;
    }

    #header .navs .title {
        width: 123px;
        font-size: 16px;
        color: white;
        margin: 7px;
        text-align: center;
        float: left;

    }

    #header .navs .title2 {
        color: white;
        width: 38px;
        float: left;
        margin: 10px 0;

    }

    #header .navs .title2:hover {
        cursor: pointer;

    }

    #header .navs li {
        display: inline-block;
        margin: 10px;
        color: rgba(255, 255, 255, 1);
    }

    #header .navs li a {
        color: inherit;
    }

    #header .navs li.current a {
        color: inherit;
    }

    #header .navs li a:hover {
        color: inherit;
    }



    #header .navs li:hover {
        color: #fff;
        border-radius: 0;
        border-width: 0;
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
        background-color: rgba(254, 254, 254, 0);
        box-shadow: 0 1px 0 #ffffff;
    }

    .logins, .register {
        position: absolute;
        right: 173px;
    }

    .logins p, .register p {
        padding: 10px;
        background-color: #009688;
        position: relative;
        left: -10px;
        margin-bottom: 0;
    }

    .logins p:hover, .register p:hover {
        color: #fff;
        {#font-size: 14px;#}
        border-radius: 0;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
        box-shadow: 0 1px 0 #ffffff;
    }

    .citys .city {
        margin-bottom: 10px;
    }

    .layui-btn.layui-btn {
        margin-left: 10px !important;
    }
</style>
<body>
<!-- start 顶部导航栏 -->
<div id="header">

    <div class="navs">
        <div class="title" >云数智学堂</div>
        <div class="title2" v-text="city" @click="city_list()"></div>
        <span class="title2" style="margin-right: 20px" @click="city_list()">[切换]</span>
        <div class="list">
            <ul>
                <li class='current'>
                    <a href="javascript:navPage('./pages/zhaopinxinxi/list.html')" class="menumain">首页</a></li>
                <li class='current'>
                    <a href="javascript:navPage('./pages/question/class_detail.html?type=1')" class="menumain">练习平台</a>
                </li>
                <li class='current'>
                    <a href="javascript:navPage('./pages/question/class_detail.html?type=2')" class="menumain">考试平台</a>
                </li>
                <li class='current'>
                    <a href="javascript:" class="menumain">企业</a></li>
{#                <li class='current'>#}
{#                    <a href="javascript:" class="menumain">新闻资讯</a></li>#}
                <li class='current'>
                    <a href="https://coding.imooc.com/class/335.html?mc_marking=361ff96e77234c73c7b9049d93a959f2&mc_channel=bdocpc2&sem=2&utm_source=baidu-pc&utm_medium=sem2&utm_campaign=coding&utm_content=335&utm_term=coding&bd_vid=9170428280603174657"
                       target="_blank" class="menumain">培训</a></li>
                <li class='current'>
                    <a href="javascript:navPage('./pages/interview/index.html')" class="menumain">模拟面试</a></li>
{#                <li class='current'>#}
{#                    <a href="javascript:" class="menumain">直播</a></li>#}
                <li class='current right'>
                    <a href="javascript:navPage('/about/')" class="menumain">关于我们</a> <br>
                </li>
                <li class='current right' v-if="!username">
                    <a href="javascript:navPage('/tea/register_role/');layer.closeAll();" id="register"
                       class="menumain">注册</a>
                </li>
                <li class='current right' v-if="!username">
                    <a href="javascript:" id="login" class="menumain" @click="login_layer()">登录</a> <br>
                </li>
                <li class='current right user' style="margin-top: 13px;">
                    <a href="/admin/#/index" id="userrole" class="menumain" target="_blank"></a> <br>
                </li>
                <li class='current right user' style="margin-top: 13px;">
                    <a href="javascript:" id="username" class="menumain"></a>
                    <div class="register" style="display: none">
                        <p><a href="/cms/#/index" target="_blank">我的后台管理</a></p>
                        {#                        <p><a href="javascript:navPage('/interviewer/add/')">完善信息</a></p>#}
                        {#                        <p><a href="javascript:im()">通信平台</a></p>#}

                        <p v-if="open_role.indexOf('2') === -1"><a href="javascript:"
                                                                   @click="checkout_user_type(2, '出题专家', 'users')">申请出题专家</a>
                        </p>
                        <p v-if="open_role.indexOf('3') === -1"><a href="javascript:"
                                                                   @click="checkout_user_type(3, '面试官', 'users')">申请面试专家</a>
                        </p>
                        {#                        <p v-if="role!=='企业用户'"><a href="javascript:" @click="checkout_user_type(4, '公司', 'gongsi')">企业入驻</a>#}
                        {#                        </p>#}
                        <p><a href="javascript:navPage('/tea/register_yonghu/?type=3');">修改密码</a></p>
                        <p><a href="javascript:localStorage.clear();location.reload()">退出登录</a></p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- end 顶部导航栏 -->

<iframe src="" id="iframe" frameborder="0" width="100%" height="100%"
></iframe>
<div id="tabbar" class="tabbar"
     :style='{"borderColor":"rgba(255, 255, 255, 0.3)","backgroundColor":"#009688","borderRadius":"0","borderWidth":"0","borderStyle":"solid"}'
     style="position: relative;">
    <div :style='{"padding":"0 5px","boxShadow":"0 0 0px 0","borderColor":"#009688","backgroundColor":"#009688","color":"#fff","textAlign":"center","borderRadius":"0","borderWidth":"0","width":"100%","lineHeight":"22px","fontSize":"13px","borderStyle":"solid"}'
         class="company">联系人: 杨先生 联系电话: 13161883018 电子邮箱: yp2007@126.com <br> 禁止发布、复制、传播违法信息，一旦发现将移送司法机关处理。<br>
        ICP备案号: <a href="https://beian.miit.gov.cn/" target="_blank" style="color: white;">津ICP备2023003607号-1</a>
    </div>
</div>

<div id="city_list" style="display: none;">
    <table id="city_list">
        <div class="layui-card">
            <div class="layui-card-header">当前城市</div>
            <div class="layui-card-body">
                <button class="layui-btn layui-btn-primary now_city"></button>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">热门城市</div>
            <div class="layui-card-body citys">

            </div>
        </div>
    </table>
</div>

<div class="link_me" style="display: none;">
    <div class="layui-card">
        <div class="layui-card-body">
            <img src="/media/img/link_me.png" alt="" style="width: 300px;">
        </div>
    </div>

</div>

<div class="login_layer" style="display: none;">
    <div id="componseLeft">
        <img src="https://www.ittest008.com/media/img/%E4%BA%91%E6%95%B0%E6%99%BA%E5%AD%A6%E5%A0%82-logo.png" alt=""
             class="pass-form-logo">
        <br>
        <img src="https://fileres.m.tbkt.cn/special_qrimg/2023/03/22/jWT2.png" alt="" class="logo_qr">
        <p class="left_text">请使用微信扫码登录</p>
    </div>
    <div id="componseRight">
        <p class="login-type-tab">
            <span class="switch-item active" onclick="checkout_login(this, 1)">账号登录</span>
            <span class="switch-item " onclick="checkout_login(this, 2)">短信登录</span>
        </p>
        <form class="layui-form" action="">
            <!-- 密码登录-->
            <div class="password_login">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="number" name="phone" lay-verify="title" autocomplete="new-password"
                               placeholder="手机号"
                               class="layui-input phone" maxlength="11">
                        <i class="layui-icon pass-clearbtn pass-phone" onclick="empty_input('phone')">&#x1006;</i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="title" autocomplete="new-password"
                               placeholder="密码"
                               class="layui-input password" maxlength="12">
                        <i class="layui-icon pass-clearbtn pass-password" onclick="empty_input('password')">&#x1006;</i>
                        <a href="javascript:navPage('/tea/register_role/');layer.closeAll();"
                           class="pass-register">立即注册</a>
                        <a href="javascript:navPage('/tea/register_yonghu/?type=2');layer.closeAll();"
                           class="pass-fgtpwd">忘记密码？</a>
                    </div>
                </div>
            </div>
            <!-- 验证码登录-->
            <div class="code_login" style="display: none;">
                <p class="code_title">验证即登录，未注册将自动创建帐号</p>
                <div class="layui-form-item">
                    <div class="layui-input-block">

                        <input type="number" name="phone" lay-verify="title" autocomplete="new-password"
                               placeholder="手机号"
                               class="layui-input phone" maxlength="11">
                        <i class="layui-icon pass-clearbtn pass-phone" onclick="empty_input('phone')">&#x1006;</i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="number" name="code" lay-verify="title" autocomplete="new-password"
                               placeholder="验证码"
                               class="layui-input password" maxlength="6">
                        <a href="javascript:" class="pass-item-timer" onclick="open_captcha()">发送验证码</a>
                        <i class="layui-icon pass-clearbtn pass-code" onclick="empty_input('code')">&#x1006;</i>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a type="button" class="layui-btn layui-btn-normal go_login" onclick="login()">登录</a>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block ">
                    <p class="tang-pass-sms-agreement">阅读并接受 <a href="javascript:">用户协议</a> 和 <a
                            href="javascript:">隐私政策</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div class="form-row">
            <div class="col-12">
                <div class="slidercaptcha card">
                    <div class="card-header">
                        <span>请完成安全验证!</span>
                    </div>
                    <div class="card-body">
                        <div id="captcha"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/media/js/jquery-1.11.3.min.js"></script>
<script src="/media/layui-v2.7.6/layui/layui.js"></script>
<script src="/media/js/vue.js"></script>
<script src="/media/js/config.js"></script>
<script src="/media/js/common.js"></script>
<script type="application/javascript">
    function ipJson(ipJson) {
        if (!localStorage.getItem("city")) {
            localStorage.setItem("city", ipJson.city);
        }
    }
</script>
<script src="/media/slidercaptcha/disk/longbow.slidercaptcha.js"></script>
<script src="//whois.pconline.com.cn/ipJson.jsp?callback=ipJson" type="text/javascript"></script>
<script>
    var captcha_laye;
    $(function () {


    })


    var vue1 = new Vue({el: '#tabbar'})
    var login_type = 1;
    var vue = new Vue({
        el: '#header',
        data: {
            open_role: "",
            username: '',
            role: '',
            city: "",
            chengshiOptions: [],
        },
        mounted: function () {
            // this.bindClickOnLi();
            var is_wx = navigator.userAgent.toLowerCase().match(/MicroMessenger/i) == "micromessenger";
            var h5 = 0
            if (is_wx){h5=1}
            var split_url = window.location.href.split('?')
            if (split_url.length > 1){
                var cs_arr = split_url[1].split('&');                    //参数字符串分割为数组
                var get_arr={};
                for(var i=0;i<cs_arr.length;i++){         //遍历数组，拿到json对象
                  get_arr[cs_arr[i].split('=')[0]] = cs_arr[i].split('=')[1]
                }
                console.log(get_arr)

                if (get_arr.target === '1'){
                    if (is_wx){
                        location.href = `/tea/web/question/detail/?qid=${get_arr.qid}&h5=1`
                    }else{
                        navPage(`/tea/web/question/detail/?qid=${get_arr.qid}`)
                    }

                }
            }else{
                navPage('./pages/zhaopinxinxi/list.html')
            }

        },
        created() {

            this.city = localStorage.getItem("city")


        },
        methods: {
            jump(url) {
                jump(url)
            },

            city_list() {
                $('.now_city').text(this.city)
                layer.open({
                    type: 1,
                    shade: 0,
                    skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                    title: ['城市列表', 'color:#009688'],//弹出层title,数组右半部份设置title样式
                    area: ['500px', '400px'],
                    success: function () {

                    },
                    //content为弹出层内容
                    content: $("#city_list").html()
                });
            },
            login_layer() {
                layer.open({
                    type: 1,
                    shade: 0.5,
                    area: ['800px', '345px'],
                    content: $(".login_layer").html(),
                    success: function () {
                        checkout_login($('.switch-item').first(), 1)
                        $(".phone").bind("input propertychange", function (e) {
                            //获取input输入的值
                            if (e.delegateTarget.value) {
                                $('.pass-phone').show()
                            } else {
                                $('.pass-phone').hide()
                            }
                            var mxaL = $(this).attr("maxlength");
                            //如果输入的长度超过最大长度
                            if ($(this).val().length > mxaL) {
                                $(this).val($(this).val().slice(0, mxaL));
                            }
                        });
                        $(".password").bind("input propertychange", function (e) {
                            //获取input输入的值
                            if (e.delegateTarget.value) {
                                $('.pass-password').show()
                            } else {
                                $('.pass-password').hide()
                            }
                            var mxaL = $(this).attr("maxlength");
                            //如果输入的长度超过最大长度
                            if ($(this).val().length > mxaL) {
                                $(this).val($(this).val().slice(0, mxaL));
                            }

                        });
                    },
                    title: '',
                    end: function () {
                        layer.closeAll()
                    }
                });
            },
            link_me() {
                layer.open({
                    type: 1,
                    shade: 0,
                    content: $(".link_me").html(),
                    title: ''
                });

            },

            checkout_user_type(type, role, tableName) {
                // 切换身份
                $.get(`/django7681v/checkout_user_type/?type=${type}`, function (res) {
                    if (res.response === 'fail') {
                        msg_fail(res.message, function () {
                            if (role === '用户') {
                                navPage('./pages/yonghu/register.html?tablename=yonghu')
                            } else if (role === '公司') {
                                navPage('./pages/gongsi/register.html?tablename=gongsi')
                            } else if (role === '面试官') {
                                navPage('/interviewer/add/?role_id=3')
                            } else if (role === '出题专家') {
                                navPage('/interviewer/add/?role_id=2')
                            }
                        })
                    } else {
                        localStorage.setItem("userId", res.id);
                        localStorage.setItem("Token", res.token);
                        localStorage.setItem("role", role);
                        localStorage.setItem("sessionTable", tableName);
                        msg_ok("切换成功", function () {
                            location.reload()
                        })
                    }
                });
            }
        }
    });

    function empty_input(elem) {
        $(`.${elem}`).val('')
        $(`.pass-${elem}`).hide()
    }

    // 切换登录方式
    function checkout_login(elem, type) {
        login_type = type
        $(elem).siblings().removeClass('active')
        $(elem).addClass('active')
        if (type === 1) {
            $(elem).siblings().removeClass('active2')
            $('.password_login').show()
            $('.code_login').hide()
        } else {
            $(elem).addClass('active2')
            $('.password_login').hide()
            $('.code_login').show()
        }
    }

    layui.use(['layer', 'element', 'carousel', 'laypage', 'jquery', 'laydate'], function () {

        $.get('/user/info/?token=' + localStorage.getItem('Token'), function (res) {
            if (!res.data.user) {
                $(".user").hide()
                console.log("未登录")
                localStorage.clear()
            } else {
                var res = res.data.user
                vue.username = res.nickname
                vue.role = res.role
                vue.id = res.id
                vue.phone = res.username
                $("#username").text(`${vue.phone.replaceAll('"', '').slice(0, 3)}****${vue.phone.replaceAll('"', '').slice(7, 11)}`)
                $(".user").show()
                $("#userrole").hide()
                vue.open_role = res.open_role
                localStorage.setItem("open_role", res.open_role);

            }
        })


        $.get(`/django7681v/option/chengshi/chengshi?type=1`, function (res) {
            vue.chengshiOptions = res.data
            let html = ''
            $.each(vue.chengshiOptions, function (i) {
                html += `<button class="layui-btn layui-btn-primary city" index="${i}">${this}</button>`
            })
            $(".citys").html(html)
        });
        vue.city = localStorage.getItem("city");
        $(document).on("click", ".citys .city", function (e) {
            localStorage.setItem("city", e.target.innerText)
            vue.city = e.target.innerText
            layer.closeAll()
            navPage(`./pages/zhaopinxinxi/list.html?city=${e.target.innerText}&swiperIndex=${$(this).attr('index')}`)
        });


    });

    function login() {
        var phone = ''
        var password = ''
        if (login_type === 1) {
            phone = $('.phone:eq(2)').val()
            password = $('.password:eq(2)').val()
        } else {
            phone = $('.phone:last').val()
            password = $('.password:last').val()
        }

        if (!phone) {
            return msg_fail('请输入手机号')
        }
        if (login_type === 1 && !password) {
            return msg_fail('请输入密码')
        } else if (login_type === 2 && !password) {
            return msg_fail('请输入验证码')
        }
        $.post('/tea/login/', {
            username: phone,
            password: password,
            login_type: login_type,
            role: '出题专家'
        }, function (res) {
            if (res.msg === '正常') {
                msg_ok("登录成功", function () {
                    localStorage.setItem("Token", res.token);
                    localStorage.setItem("userId", res.id);
                    localStorage.setItem("role", '用户');
                    localStorage.setItem("sessionTable", 'yonghu');
                    localStorage.setItem("adminName", phone);
                    window.location.href = `/`
                })
            } else {
                return msg_fail(res.message)
            }
        })
    }

    $('#username').mousemove(function () {

        $('.register').show()
        $('.logins').hide()
    })
    $('#userrole').mousemove(function () {
        $('.logins').show()
        $('.register').hide()
    })

    $('#login').mousemove(function () {
        $('.logins').show()
        $('.register').hide()
    })
    $('.logins').mousemove(function () {
        $(".logins").show() //把鼠标放到box_tow的时候继续显示避免隐藏
    })
    $('.logins').mouseout(function () {
        $('.logins').hide()
    })

    $('#register').mousemove(function () {
        $('.register').show()
        $('.logins').hide()
        $('.user').hide()
    })
    $('.register').mousemove(function () {
        $(".register").show() //把鼠标放到box_tow的时候继续显示避免隐藏
    })
    $('.register').mouseout(function () {
        $('.register').hide()
    })
    $('#iframe').mouseout(function () {
        $('.register').hide()
        $('.logins').hide()
    })

    function open_captcha() {
        if (exit_count === 60) {


        var phone = ''
        var password = ''
        if (login_type === 1) {
            phone = $('.phone:eq(2)').val()
        } else {
            phone = $('.phone:last').val()
        }

        if (!phone) {
            return msg_fail('请输入手机号')
        }
        captcha_layer = layer.open({
            type: 1,
            shade: 0,
            skin: 'alert-skin',
            area: ['314px', '286px'],
            content: $(".container").html(),
            title: '',
            success: function (obj, index) {
                obj.css({'box-shadow': '', 'height': '', 'width': ''})
                obj.find('.layui-layer-setwin').css({'display': 'none'})
                var captcha = sliderCaptcha({
                    id: obj.find('#captcha')[0],
                    width: 280,
                    height: 150,
                    sliderL: 42,
                    sliderR: 9,
                    offset: 5,
                    loadingText: '正在加载中...',
                    failedText: '再试一次',
                    barText: '向右滑动填充拼图',
                    localImages: function () {
                        return 'http://127.0.0.1:8087/media/img/1682732567221.jpg';
                    },
                    setSrc: function () {
                        // return 'https://www.ittest008.com/file/number_id_img/2023/07/18/20230718012314522296.png';
                        return '/file/qr/' + Math.round(Math.random() * 10) + '.jpg';
                    },
                    onSuccess: function () {
                        var handler = setTimeout(function () {
                            window.clearTimeout(handler);
                            captcha.reset();
                        }, 500);
                        console.log('验证成功')
                        layer.close(index)
                        send_code()
                    },
                    onFail: function () {
                        console.log('验证失败')
                    },
                    onRefresh: function () {

                    }
                });
            }
        });
        }
    }

    var exit_count = 60;

    // 发送短信
    function send_code() {
        var phone = $('.phone:last').val()
        if (exit_count === 60) {
            if (!phone) {
                msg_fail('请输入手机号！')
                return
            }
            $.post('/sms/send/', {phone: phone, code_id: 2, type: "用户"}, function (res) {
                msg_ok("验证码已发送，2分钟内有效。")
            })

            var inter_exit = window.setInterval(function () {
                exit_count--;
                if (exit_count <= 0) {
                    exit_count = 60;
                    window.clearInterval(inter_exit);
                    $(".pass-item-timer").text('发送验证码')
                } else {
                    $(".pass-item-timer").text(exit_count + 's')
                }
            }, 1000);
        }
    }

    function im() {
        var token = localStorage.getItem('Token');
        window.open(`https://www.ittest008.com/im/#/login?user_id=${token}`)
    }

    // 导航栏跳转
    function navPage(url) {
        url = url.indexOf('?') !== -1 ? url + '&token=' + localStorage.getItem("Token") : url + '?token=' + localStorage.getItem("Token");
        localStorage.setItem('iframeUrl', url);
        document.getElementById('iframe').src = url;
    }

    // 跳转到个人中心也
    function centerPage() {
        var userTable = localStorage.getItem('userTable');
        if (userTable) {
            localStorage.setItem('iframeUrl', './pages/' + userTable + '/center.html');
            document.getElementById('iframe').src = './pages/' + userTable + '/center.html';
        } else {
            window.location.href = './pages/login/login.html'
        }
    }


    let list = document.getElementsByTagName("li");
    for (var i = 0; i < list.length; i++) {
        if (i == localStorage.getItem("checkedLiIndex")) {
            $(list[i]).addClass("current").siblings().removeClass("current");
        }
    }

    // var i = 0;


</script>
</body>
</html>
