{% extends "base.html" %}
{% block body %}
    <style>


        #wrapper {
            width: 670px;
            margin: 0 auto;
            font-size: 16px;
            margin-top: 100px;
        }

        .logo {
            width: 400px;

            margin-left: 110px;
            margin-bottom: 20px;
        }

        .qr {
            width: 211px;
        }
        .wexin_qr{
            display: inline-block;
            margin-top: 20px;
            float: right;

        }
        .link_qr{
            float: left;
            margin-top: 20px;
        }
    </style>
    <div id="wrapper">
        <img src="/media/img/云数智学堂-logo.png" alt="" class="logo">
        <p>云数智学堂 (www.ittest008.com) 一家在线基于云计算技术提升云计算、大数据、人工智能等新一代信息技术专业技能提升的学习类门户网站，如云计算openstacke
            k8s，大数据hadoop，spark，flink，人工智能，chatgpt等。网站由信创云数智(天津)科技有限公司创办，该网站提供的详细功能有:各类IT组件的实操环境和题库、在线云上模拟视频面试、线上修改简历功能、IT培训、技术讨论以及chatGpt等功能，全方位帮助求职者，行业猎头以及招聘公司提高效率，提升技能，人岗匹配，提高黏性。</p>
        <br>
        <br>
        <p style="text-align: center">联系电话：13161883018</p>
        <p style="text-align: center">邮箱：yp2007@126.com</p>
        <div class="wexin_qr">
            <p style="text-align: center">微信公众号</p>
            <img src="/media/img/link_weixin.png" alt="" class="qr">
        </div>
        <div class="link_qr">
            <p style="text-align: center">联系人微信</p>
            <img src="/media/img/weixin_me.png" alt="" class="qr">
        </div>
    </div>
{% endblock %}
{% block js %}

    <script>

    </script>
{% endblock %}
