{% extends "h5/base.html" %}

{% block body %}

    <body>
    <div class='login_wrap page_one'>
        <div class="banner_part">
            <img class="login_logo" src="/media/img/云数智.png" alt="">
            <div class="banner_platform"></div>
        </div>
        <div class="login_form">
            <div class="input_wrap">
                <div class="input_icon account"></div>
                <input id="account" class="input_ele phone" maxlength="11" type="tel" placeholder="请输入账号"/>
                <div class="clear_icon"></div>
            </div>
            <div class="input_wrap">
                <div class="input_icon ver_code"></div>
                <input id="ver_code" class="input_ele code_input" maxlength="6" type="tel" placeholder="请输入验证码"/>
                <button id='getCodeBtn' disabled class='inpu_btn'>获取验证码</button>
            </div>
        </div>
        <button class="login_btn" disabled>登录</button>
        <div class='laryer-cover' id="is_used">
            <div class='laryer-cover-con'>
                <div class='laryer-alert'>当前链接已失效<br/>请重新扫描二维码！</div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block js %}
    <link rel="stylesheet" href="/media/h5/css/login.css?v={{ settings.SITE_MEDIA }}">

    <script type="text/javascript">
        var phone = localStorage.getItem("ZXT_PHONE") || '';
        var exit = '{{ request.GET.exit }}';
        var open_id = localStorage.getItem("ZXT_OPEN_ID") || "";
        var share_url = "{{ share_url|safe }}";
        var code_info = '{{request.GET.code|safe}}';
        if (is_wx) {
            layer.open({type: 2, shadeClose: false});
            if (open_id) {
                getBindStatus()
            } else {
                $.post("/chat/wx/oauth/user?code_info=" + code_info, {code: code_info}, function (res) {
                        if (res.response == 'ok') {
                            var _d = res.data;
                            open_id = _d.openid;
                            localStorage.setItem("TBCP_TEA_OPEN_ID", open_id);
                            if (!open_id) {
                                layer.closeAll();
                                $("#is_used").show();
                            } else {
                                getBindStatus()
                            }
                        } else {
                            layer.tips(res.message)
                        }
                    })
            }
        } else {
            code_info = '';
            if (localStorage.getItem("ZXT_PHONE")) {
                getBindStatus();
            }
        }

        function getBindStatus() {
            //处理首页退出逻辑
            if (exit) {
                layer.closeAll();
            }
        }

        var $submit = $('#submit'),
            $inputPanel = $('.qmhd_input_panel'),
            username = "",
            usercode = "",
            is_post = false;

        $inputPanel.on("click", ".item_text", function () {
            if (!$(this).hasClass('active')) {
                $(".item_text").removeClass('active');
                $(this).addClass('active');
                var type = $(this).data("type");
                if (type == 1) {
                    $("#codeBtn").show();
                    $("#getCodeBtn").hide();
                } else {
                    $("#codeBtn").hide();
                    $("#getCodeBtn").show();
                }
            }
        })
        var s = 60, timer = null;
        $inputPanel.on("click", "#getCodeBtn", function () {
            if (!telNumberCheck($("#account").val())) {
                layer.tips("手机号输入不正确");
                return;
            }
            $(this).attr("disabled", "disabled");
            $('#getCodeBtn').html('重新获取(60)s');
            $.post('/sms/send/', {
                'phone': $("#account").val(),
                'code_type': 3, 'place_id': 137
            }, function (res) {
                if (res.response == 'ok') {
                    layer.tips("验证码发送成功！");
                } else {
                    layer.tips(res.message);
                    clearFn();
                }
            });
            timer = setInterval(function () {
                s--;
                if (s == 0) {
                    clearTimeout(timer)
                    clearFn();
                } else {
                    $('#getCodeBtn').html('重新获取(' + s + ')s');
                }
            }, 1000)
        });

        function clearFn() {
            $('#getCodeBtn').removeAttr("disabled");
            $('#getCodeBtn').html("获取验证码");
            s = 60;
            clearInterval(timer);
        }
    </script>
    <script src="/media/h5/js/login.js"></script>

{% endblock %}
