{% extends "base.html" %}

{% block body %}
    <style>
        .img_data{
            width: 90%;
            margin: 0 auto;
        }
        .img_data .el-image{
            margin-right: 20px;
            width: 186px;
            height: 331px;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0);
        }
        .img_data .el-image:hover{
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
    </style>

    <div id="app">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>我的战报 <span style="font-size: 3px;">点击战报分享，邀请好友注册，领现金红包</span></legend>
        </fieldset>
        <template v-for="(item,index) in subjects">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend><span v-text="item.name+ '科目'"></span></legend>
            </fieldset>
            <div class="img_data">
                <template v-for="img_item in item.imgs">
                    <el-image :src="img_item"> </el-image>
                </template>
            </div>
        </template>
    </div>
{% endblock %}
{% block js %}
    <script>


        var vue = new Vue({
            el: "#app",
            data: {
                loading_post: false,
                subjects: [],
            },
            created() {
                this.subjects = {{ subjects|safe }};
                var timer = setTimeout(function () {
                        window.parent.document.getElementById('iframe').height = 0
                        let height = window.parent.document.getElementById('iframe').contentDocument.body.scrollHeight + 60
                        height = window.parent.innerHeight > height ? window.parent.innerHeight : height
                        window.parent.document.getElementById('iframe').height = height
                        clearTimeout(timer)
                    }, 200)
            },
            methods: {

                navPage(url) {
                    localStorage.setItem('iframeUrl', url);
                    window.parent.document.getElementById('iframe').src = url;
                },
            },
        })


    </script>
{% endblock %}
