{% extends "base.html" %}
{% block body %}
    <style>
        #wrapper {
            width: 800px;
            margin: 0 auto;
            margin-top: 20px;
        }

        #app {
            margin: 30px;
        }

        .el-step__head.is-finish, .el-step__title.is-finish, .el-step__description.is-finish {
            color: #009688;
            border-color: #009688;
        }

        .avatar {
            width: 328px;
            height: 178px;
            display: block;
        }

        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 328px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .el-divider__text.is-center {
            width: 333px;
        }
    </style>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>申请成为面试官</legend>
    </fieldset>
    <div id="app">
        <el-steps :active="active">
            <el-step title="步骤 1" description="身份信息"></el-step>
            <el-step title="步骤 2" description="学历信息"></el-step>
            <el-step title="步骤 3" description="工作经历"></el-step>
            <el-step title="步骤 4" description="其他证明"></el-step>
            <el-step title="步骤 5" description="提交"></el-step>
            <el-step title="步骤 6" description="审核"></el-step>
        </el-steps>
        <div id="wrapper"
             v-loading="loading_post"
             element-loading-text="拼命处理中"
             element-loading-spinner="el-icon-loading"
        >
            <!-- 第一步 -->
            <transition name="el-fade-in-linear" v-if="active === 0" >
                <el-form ref="form" :model="form" label-width="180px" :rules="rules">
                    <el-form-item label="昵称:" prop="name">
                        <el-input v-model="form.name" maxlength="10"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号:" prop="phone">
                        <el-input v-model.number="form.phone" maxlength="11"></el-input>
                        <el-button @click="send_code()" style="margin-top: 10px;" id="send_code" :disabled="disabled">
                            获取验证码 <span class="code_time"></span></el-button>
                    </el-form-item>
                    <el-form-item label="验证码:" prop="code">
                        <el-input v-model.number="form.code" maxlength="6"></el-input>
                    </el-form-item>
                    <el-form-item label="身份证(正面):" prop="imageUrl1">
                        <el-upload
                                v-loading="loading"
                                element-loading-text="拼命识别中"
                                element-loading-spinner="el-icon-loading"
                                class="avatar-uploader"
                                :action="upload_url"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl1" :src="imageUrl1" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>

                    <el-form-item label="身份证(反面):" prop="imageUrl2">
                        <el-upload
                                v-loading="loading2"
                                element-loading-text="拼命识别中"
                                element-loading-spinner="el-icon-loading"
                                class="avatar-uploader"
                                :action="upload_url"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess2"
                                :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl2" :src="imageUrl2" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                    <div v-if="form.ocr_info_front.name">
                        <el-form-item label="">
                            <el-divider>请核对您的身份信息，如有错误请点击图片重新上传</el-divider>

                        </el-form-item>
                        <el-form-item label="姓名:" prop="username">
                            <el-input v-model="form.ocr_info_front.name" maxlength="5"></el-input>
                        </el-form-item>
                        <el-form-item label="身份号码:" prop="number_id">
                            <el-input v-model="form.ocr_info_front.number_id" maxlength="18"></el-input>
                        </el-form-item>
                    </div>
                    <div v-if="form.ocr_info_back.start_time">

                        <el-form-item label="有效期:" prop="back_time">
                            <el-date-picker
                                    v-model="form.ocr_info_back.time"
                                    type="daterange"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                    <el-form-item>
                        <el-button type="primary" @click="next(1, 'form')" v-if="active < 5">下一步</el-button>
                        <el-button type="primary" @click="next(-1)" v-if="active > 1 && active <= 5">上一步</el-button>
                        <el-button type="primary" @click="next(1)" v-if="active == 5">提交审核</el-button>
                    </el-form-item>
                </el-form>
            </transition>
             <!-- 第二步 -->
            <transition name="el-fade-in-linear" v-if="active === 1">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <span>学历信息</span>
                    <el-button style="float: right; padding: 3px 0" type="text">新增</el-button>
                  </div>
                  <div v-for="o in 4" :key="o" class="text item">
                    <el-form ref="form" :model="form" label-width="80px" :rules="rules">
                    <el-form-item label="学历:" prop="name">
                        <el-input v-model="form.name" maxlength="10"></el-input>
                    </el-form-item>
                         <el-form-item label="学校:" prop="name">
                        <el-input v-model="form.name" maxlength="10"></el-input>
                    </el-form-item>
                         <el-form-item label="专业:" prop="name">
                        <el-input v-model="form.name" maxlength="10"></el-input>
                    </el-form-item>
                        <el-form-item label="" prop="back_time">
                            <el-date-picker
                                    v-model="form.ocr_info_back.time"
                                    type="daterange"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                            </el-date-picker>
                        </el-form-item>
                    </el-form>
                  </div>
                </el-card>
            </transition>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        var number_id_img1 = "";
        var number_id_img2 = "";
        var vue = new Vue({
            el: "#app",
            data: {
                disabled: false,
                loading_post: false,
                loading: false,
                loading2: false,
                active: {{ step_id }},
                token: "",
                rules: {
                    name: [
                        {required: true, message: '请输入昵称', trigger: 'blur'},
                        {min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur'}
                    ],
                    code: [{required: true, message: '请填写验证码', trigger: 'blur'}],
                    phone: [
                        {required: true, message: '请填写手机号', trigger: 'blur'},
                    ],

                },
                form: {
                    name: '',
                    code: '',
                    phone: '',
                    ocr_info_front: {
                        name: '',
                        number_id: '',
                    },
                    ocr_info_back: {
                        start_time: '',
                        end_time: '',
                        time: []
                    }
                },
                ocr_front: {},
                ocr_back: {},
                imageUrl1: '',
                imageUrl2: '',
                upload_url: "{{ upload_url|safe }}",
                web_file_url: "{{ web_file_url|safe }}",
                exit_count: 60,

            },
            created() {


            },
            methods: {

                send_code() {
                    if (this.exit_count === 60) {
                        msg_ok("验证码已发送，2分钟内有效。")
                        var thsi = this;
                        var inter_exit = window.setInterval(function () {
                            thsi.exit_count--;
                            if (thsi.exit_count < 0) {
                                thsi.exit_count = 60;
                                thsi.disabled = false;
                                window.clearInterval(inter_exit);
                                $("#send_code .code_time").text('')
                            } else {
                                thsi.disabled = true;
                                $("#send_code .code_time").text(thsi.exit_count + 's')
                            }
                        }, 1000);
                    }
                },
                next(num, formName) {
                    var thsi = this;
                    if (num === 1) {
                        if (this.active !== 6) {
                            if (this.active === 0) {
                                // 第一步
                                console.log(formName, this.form)
                                this.$refs[formName].validate((valid) => {
                                    if (valid) {
                                        // this.loading_post = true;

                                        var start_time_year = this.form.ocr_info_back.time[0].getFullYear();
                                        var start_time_moth = this.form.ocr_info_back.time[0].getMonth() + 1;
                                        var start_time_day = this.form.ocr_info_back.time[0].getDate();
                                        if (start_time_moth < 10) {
                                            start_time_moth = '0' + start_time_moth
                                        }
                                        if (start_time_day < 10) {
                                            start_time_day = '0' + start_time_day
                                        }
                                        var end_time_year = this.form.ocr_info_back.time[1].getFullYear();
                                        var end_time_moth = this.form.ocr_info_back.time[1].getMonth() + 1;
                                        var end_time_day = this.form.ocr_info_back.time[1].getDate();
                                        if (end_time_moth < 10) {
                                            end_time_moth = '0' + end_time_moth
                                        }
                                        if (end_time_day < 10) {
                                            end_time_day = '0' + end_time_day
                                        }
                                        this.form.ocr_info_back.start_time = `${start_time_year}${start_time_moth}${start_time_day}`
                                        this.form.ocr_info_back.end_time = `${end_time_year}${end_time_moth}${end_time_day}`
                                        var post_data = {
                                            token: this.token || localStorage.getItem("Token"),
                                            user_id: 19,
                                            step_id: this.active + 1,
                                            name: this.form.name,
                                            phone: this.form.phone,
                                            code: this.form.code,
                                            front: this.imageUrl1,
                                            back: this.imageUrl2,
                                            info_front: JSON.stringify(this.form.ocr_info_front),
                                            info_back: JSON.stringify(this.form.ocr_info_back),
                                            ocr_info_front: JSON.stringify(this.ocr_front),
                                            ocr_info_back: JSON.stringify(this.ocr_back)
                                        }
                                        $.post("/interviewer/save/", post_data, function (res) {
                                            thsi.loading_post = false;
                                            if (res.response === 'ok') {
                                                localStorage.setItem("Token", res.data.token);
                                                thsi.token = res.data.token
                                                thsi.active++
                                            } else {
                                                msg_fail(res.message)
                                            }
                                        })

                                    } else {
                                        return false;
                                    }
                                });
                            }

                        }
                    } else {
                        this.loading_post = true;
                        $.get("/interviewer/save/?step_id=" + thsi.active, function (res) {
                            thsi.loading_post = false;
                            if (res.response === 'ok') {
                                var data = res.data;
                                thsi.form.name = data.nickname;
                                thsi.form.phone = data.phone;
                                thsi.imageUrl1 = data.imageUrl1
                                thsi.imageUrl2 = data.imageUrl2
                                thsi.form.ocr_info_front.name = data.name
                                thsi.form.ocr_info_front.number_id = data.number_id
                                thsi.form.ocr_info_back.start_time = data.start_time
                                thsi.form.ocr_info_back.end_time = data.end_time
                                thsi.form.ocr_info_back.time = [
                                    new Date(data.start_time.substring(0, 4),
                                        parseInt(data.start_time.substring(4, 6)) - 1,
                                        data.start_time.substring(6, 8)),
                                    new Date(data.end_time.substring(0, 4),
                                        parseInt(data.end_time.substring(4, 6)) - 1,
                                        data.end_time.substring(6, 8))]
                                thsi.ocr_front = data.ocr_front
                                thsi.ocr_back = data.ocr_back
                                thsi.active--
                            } else {
                                msg_fail(res.message)
                            }

                        })

                    }
                },
                handleAvatarSuccess(res) {
                    this.imageUrl1 = this.web_file_url + res.data[0].file_url
                    this.loading = true;
                    var thsi = this;
                    $.post('/interviewer/ocr_sfz/', {idCardSide: 'front', url: this.imageUrl1}, function (res) {
                        thsi.loading = false;
                        thsi.form.ocr_info_front = res.data;
                        thsi.ocr_front = copy(res.data);

                    })
                },
                handleAvatarSuccess2(res) {
                    this.loading2 = true;
                    var thsi = this;
                    this.imageUrl2 = this.web_file_url + res.data[0].file_url
                    $.post('/interviewer/ocr_sfz/', {idCardSide: 'back', url: this.imageUrl2}, function (res) {
                        thsi.loading2 = false;
                        thsi.form.ocr_info_back = res.data;
                        thsi.form.ocr_info_back.time = [
                            new Date(res.data.start_time.substring(0, 4),
                                parseInt(res.data.start_time.substring(4, 6)) - 1,
                                res.data.start_time.substring(6, 8)),
                            new Date(res.data.end_time.substring(0, 4),
                                parseInt(res.data.end_time.substring(4, 6)) - 1,
                                res.data.end_time.substring(6, 8))]
                        thsi.ocr_back = copy(res.data);
                    })
                },
                beforeAvatarUpload(file) {
                    const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
                    const isLt2M = file.size / 1024 / 1024 < 2;

                    if (!isJPG) {
                        this.$message.error('上传图片只能是 JPG 或 png 格式!');
                    }
                    if (!isLt2M) {
                        this.$message.error('上传图片大小不能超过 2MB!');
                    }
                    return isJPG && isLt2M;
                }
            }
        })


    </script>
{% endblock %}
